.new-message 
{ 
    width: 35%;
    padding: 8px 12px;
    float:left;
    background-color: rgb(19, 89, 241); 
    border-radius: 8px;
    clear: both;
    margin-bottom: 1rem;
}

.my-message 
{
    background-color: #fa9c03;
    float: right !important;
    color: white;
}